.inputContainer {
  width: 100%;
}

.input {
  border: 1px solid var(--gray-700);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  background: var(--gray-500);

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--gray-300);
}

.input:focus {
  border: 1px solid var(--purple-dark);
  color: var(--gray-100);
}